<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span><i class="fas fa-home"></i></span>
                            Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#purchaseSubmenu" data-toggle="collapse" aria-expanded="false">
                            <span><i class="fas fa-plus-circle"></i></span> Purchase <span><i
                                    class="fas fa-caret-down ml-5"></i></span>
                        </a>

                        <ul class="collapse list-unstyled" id="purchaseSubmenu" style="text-indent:1.3em;">
                            <li>
                                <a href="purchase.html">Purchase</a>
                            </li>
                            <!--<li>
                                <a href="purchase_return.html">Purchase return</a>
                            </li>-->
                            <li>
                                <a href="supplier.html">Supplier</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="products.html">
                            <span><i class="fas fa-shopping-cart"></i></span>
                            Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="users.html">
                            <span><i class="fas fa-users"></i></span>
                            Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="warehouse.html">
                            <span><i class="fas fa-warehouse"></i></span>
                            Warehouse
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="stock.html">
                            <span><i class="fas fa-layer-group"></i></span>
                            Stock
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="transport.html">
                            <span><i class="fas fa-truck"></i></span>
                            Transport
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
